@media (min-width: 1200px) {
  #pg_1_logo_img {
    width: 350px;
    height: 350px; }

  .testimonial-lg {
    font-size: 1.2em; } }
@media all and (min-width: 992px) and (max-width: 1199px) {
  #pg_1_logo {
    width: 350px;
    height: 350px; }

  #pg_1_logo_img {
    width: 250px;
    height: 250px; }

  .testimonial-lg {
    font-size: 1.2em; } }
@media all and (min-width: 768px) and (max-width: 991px) {
  #pg_1_logo {
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }

  #pg_1_logo_img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }

  .testimonial-lg {
    font-size: 1.2em; } }
@media all and (min-width: 576px) and (max-width: 767px) {
  #pg_1_logo {
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }

  #pg_1_logo_img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto; }

  .testimonial-lg {
    font-size: 1.2em; } }
@media all and (min-width: 400px) and (max-width: 575px) {
  #pg_1_logo {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }

  #pg_1_logo_img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto; }

  .testimonial-lg {
    font-size: 0.9em; } }
@media (max-width: 399px) {
  #pg_1_logo {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }

  #pg_1_logo_img {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto; }

  .testimonial-lg {
    font-size: 0.9em; } }
body {
  font-family: "Arima Madurai", cursive; }

h1, h2, h3, h4, h5 {
  font-family: "Berkshire Swash", cursive; }

a {
  color: #123524; }

a:hover {
  color: #C7FF00; }

#nav-top {
  background-color: #ADDFAD;
  font-family: "Berkshire Swash", cursive;
  font-size: 1em;
  border-bottom: solid #556B2F 1px; }

#pg_1 {
  background-image: url("../assets/background_1.jpg"); }

#pg_1_body {
  padding: 20px 0px 0px 0px; }

#pg_1_logo {
  margin-top: 25px;
  padding: 50px;
  border-radius: 50%;
  background-color: #ADDFAD; }

#pg_1_testimonials {
  font-family: "Berkshire Swash", cursive;
  font-weight: italic;
  padding: 15px 30px 0px 0px; }

#quote-revolver {
  list-style-type: none; }

#quote-revolver li {
  display: table; }

#quote-revolver li blockquote {
  display: table-cell;
  vertical-align: middle; }

.testimonial-compact {
  font-size: 0.9em; }

#pg_2 {
  background-image: url("../assets/background_2.jpg"); }

#pg_3 {
  background-image: url("../assets/background_3.jpg"); }

#pg_4 {
  background-image: url("../assets/background_4.jpg"); }

#footer {
  background-color: #ADDFAD;
  color: #000000; }

.jumbotron {
  min-height: 750px;
  background-size: cover;
  margin-bottom: 0px; }

.boxcard {
  background-color: #ADDFAD;
  padding: 25px 25px 10px 25px;
  border-radius: 25px; }

.nav-pills > li > a.active {
  background-color: #D0F0C0 !important;
  color: #000000 !important; }

.nav-pills > li > a {
  color: #000000; }

.nav-pills > li > a:hover {
  background-color: #D0F0C0 !important; }

.navbar-toggler {
  padding: 12px 10px 2px 10px;
  border: solid 1px #D0F0C0;
  border-radius: 5px;
  background-color: #D0F0C0;
  color: #000000; }

.navbar-toggler:hover {
  cursor: pointer; }

.row {
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
