#pg_1{
  background-image: url(../assets/background_1.jpg);
}


#pg_2{
    background-image: url(http://res.cloudinary.com/dct9np835/image/upload/v1499223502/home_office_ky7uxc.jpg);
}

#pg_3{
    background-image: url(http://res.cloudinary.com/dct9np835/image/upload/v1499200671/railway_qz0yku.jpg);
}

#pg_4{
  background-image: url(http://res.cloudinary.com/dct9np835/image/upload/v1499201445/inkwell_xhyvy6.jpg);
}

#header-portrait{
  padding-top: 214px;
}

#header{
  margin-top: 100px;
  padding: 25px;
  background-color: #222;
  font-family: "Times New Roman", Georgia, Serif;
}

#about-header{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #222;
  font-family: "Times New Roman", Georgia, Serif;
}

#portfolio-header{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #222;
  font-family: "Times New Roman", Georgia, Serif;
}

#portfolio-row{
  padding-top: 10%;
  padding-bottom: 10%;
}

.portfolio-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-item{
  margin-bottom: 20px;
}

#contact-header{
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #222;
  font-family: "Times New Roman", Georgia, Serif;
}

#contact-header > h4 > a {
  color: #ddd;
}

#contact-header > h4 > a:hover,
#contact-header > h4 > a:visited,
#contact-header > h4 > a:active {
  color: #fff;
}

#footer{
  color: #ddd;
}

#footer > p > a {
  color: #5cf;
}

.social-button{
  margin-left: 10px;
  margin-right: 10px;
}

.jumbotron{
  min-height: 750px;
  background-size: cover;
  margin-bottom: 0px;
}

.border{
  border-style: solid;
  border-width: 1px;
  border-color: #333;
}

.thumb-header{
  background-color: #999;
  color: #222;
  font-weight: bold;
  height: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.thumb-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85px;
  width: 100%;
}

.thumb-text {
  margin: 0;
  padding: 0px 20px 0px 20px;
  vertical-align: middle;
}

.nav-pills > li > a.active {
  background-color: #050505!important;
}

.navbar .nav > li > a {
  color:  #ddd;
}

.navbar .nav > li > a:hover {
  color:  #fff;
}

hr.divider {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 1px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

@media(min-width: 1200px){
  #header{
    margin-right: 350px;
    margin-left: 50px;
  }
  #header-portrait{
    margin-left: -50px;
  }
  .thumb-text{
    font-size: 0.8em;
  }
  .portfolio-item{
    height: 315px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px){
  #header{
    margin-right: 250px;
  }
  .thumb-text-container{
    height: 80px;
  }
  .thumb-text{
    font-size: 0.8em;
  }
  .portfolio-item{
    height: 275px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px){
  #header{
    margin-right: 150px;
  }
  #about-header{
    margin-left: -75px;
  }
  #contact-header{
    margin-left: -75px;
  }
  .thumb-text-container{
    height: 70px;
  }
  .thumb-text{
    font-size: 0.9em;
  }
  .portfolio-item{
    height: 350px;
  }
}

@media all and (min-width: 576px) and (max-width: 767px){
  #header-portrait{
    margin-top: 150px;
  }
  #about-header{
    margin-left: -125px;
  }
  #contact-header{
    margin-left: -125px;
  }
  .thumb-text-container{
    height: 130px;
  }
  .thumb-text{
    font-size: 1.0em;
  }
  .portfolio-item{
    height: 350px;
  }
}

@media all and (min-width: 400) and (max-width: 575px){
  #header-portrait{
    margin-bottom: 100px;
  }
  .thumb-text{
    font-size: 1.2em;
  }
  .portfolio-item{
    height: 500px;
  }
}

@media(max-width: 399px){
  #header-portrait{
    margin-bottom: 100px;
  }
  .thumb-text{
    font-size: 1.2em;
  }
  .portfolio-item{
    height: 400px;
  }
}
