// Background images
$bg_1_path: "../assets/background_1.jpg";
$bg_2_path: "../assets/background_2.jpg";
$bg_3_path: "../assets/background_3.jpg";
$bg_4_path: "../assets/background_4.jpg";

// Color codes
$black: #000000;
$powder_blue: #B0E0E6;
$green_yellow: #ADFF2F;
$dark_olive_green: #556B2F;
$black_olive: #3B3C36;
$lima: #80CA2B;
$pale_lime: #C7FF00;

// Color scheme
$nav_background: $lima;
$nav_active: $pale_lime;
$nav_hover: $pale_lime;
$nav_text_color: $black_olive;
$nav_text_color_active: $black_olive;
$box_background: $lima;
$footer_text_color: $black_olive;
$footer_link_color: $dark_olive_green; 

// Layout and positioning
$pg_1_body_padding: 50px 0px 0px 0px;
$box_corner_radius: 25px;
$box_padding: 25px;
$logo_padding: 50px;
$logo_corner_radius: 50%;

// Responsive CSS
@media(min-width: 1200px){

}

@media all and (min-width: 992px) and (max-width: 1199px){

}

@media all and (min-width: 768px) and (max-width: 991px){

}

@media all and (min-width: 576px) and (max-width: 767px){

}

@media all and (min-width: 400) and (max-width: 575px){

}

@media(max-width: 399px){

}

// CSS template
#nav-top{
  background-color: $nav_background;
}

#pg_1{
  background-image: url($bg_1_path);
}

#pg_1_body{
  padding: $pg_1_body_padding;
}

#pg_1_logo{
  padding: $logo_padding;
  border-radius: $logo_corner_radius;
  background-color: $box_background;
}

#pg_2{
    background-image: url($bg_2_path);
}

#pg_3{
    background-image: url($bg_3_path);
}

#pg_4{
  background-image: url($bg_4_path);
}

#footer{
  background-color: $nav_background;
  color: $footer_text_color;
}

#footer > p > a {
  color: $footer_link_color;
}

.jumbotron{
  min-height: 750px;
  background-size: cover;
  margin-bottom: 0px;
}

.boxcard{
  background-color: $box_background;
  padding: $box_padding;
  border-radius: $box_corner_radius;
}

.nav-pills > li > a.active {
  background-color: $nav_active!important;
  color: $nav_text_color_active!important;
}

.nav-pills > li > a {
  color:  $nav_text_color;
}

.nav-pills > li > a:hover {
  background-color: $nav_hover!important;
}

.navbar-toggler {
  padding: 12px 10px 2px 10px;
  border: solid 1px $nav_active;
  border-radius: 5px;
  background-color: $nav_active;
  color: $nav_text_color;
}

.navbar-toggler:hover {
  cursor: pointer;
}
