// Background images
$bg_1_path: "../assets/background_1.jpg";
$bg_2_path: "../assets/background_2.jpg";
$bg_3_path: "../assets/background_3.jpg";
$bg_4_path: "../assets/background_4.jpg";

// Color codes
$black: #000000;
$white: #ffffff;
$powder_blue: #B0E0E6;
$green_yellow: #ADFF2F;
$dark_olive_green: #556B2F;
$black_olive: #3B3C36;
$lima: #80CA2B;
$pale_lime: #C7FF00;
$phthalo_green: #123524;
$pear: #D1E231;
$moss_green: #ADDFAD;
$pale_moss_green: #D0F0C0;
$jungle_mist: #B4CFD3;
$edgewater: #CBE3D7;
$dark_sea_green: #8FBC8F;
$off_green: #E6F8F3;
$honeydew: #F0FFF0;


// Color scheme
$nav_background: $jungle_mist;
$nav_active: $edgewater;
$nav_hover: $edgewater;
$nav_text_color: $black;
$nav_text_color_active: $black;
$nav_border_color: $dark_olive_green;
$box_background: $off_green;
$footer_text_color: $black;
$link_color: $phthalo_green; 
$link_color_hover: $pale_lime;
$logo_background_color: $jungle-mist;

// Fonts
$main_font: 'Arima Madurai', cursive;
$header_font: 'Berkshire Swash', cursive;
$nav_font: 'Berkshire Swash', cursive;
$nav_text_size: 1em;
$testimonials_font: 'Arima Madurai', cursive;
$testimonials_text_weight: italic;

// Layout and positioning
$pg_1_body_padding: 20px 0px 0px 0px;
$box_corner_radius: 25px;
$box_padding: 25px 25px 10px 25px;
$logo_padding_lg: 35px 50px;
$logo_padding_md: 35px 50px;
$logo_padding_sm: 30px 38px;
$logo_corner_radius: 50%;
$logo_size_lg: 350px;
$logo_border_size_lg: 450px;
$logo_size_md: 250px;
$logo_border_size_md: 350px;
$logo_size_sm: 175px;
$logo_border_size_sm: 250px;
$testimonial_lg_text_size: 1.0em;
$testimonial_compact_text_size: 0.9em;
$contacts_text_size: 1.2em;

// Responsive CSS
@media(min-width: 1200px) {
  #nav-title-collapsed {
    display: none;
  }

  #pg_1_logo {
    width: $logo_border_size_lg;
    height: $logo_border_size_lg;
    padding: $logo_padding_lg;
  }

  #pg_1_logo_img {
    width: $logo_size_lg;
    height: $logo_size_lg;
  }

  .testimonial-lg {
    font-size: $testimonial_lg_text_size;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  #nav-title-collapsed {
    display: none;
  }

  #pg_1_col_left {
    padding-top: 70px;
  }

  #pg_1_logo {
    width: $logo_border_size_md;
    height: $logo_border_size_md;
    padding: $logo_padding_md;
  }

  #pg_1_logo_img {
    width: $logo_size_md;
    height: $logo_size_md;
  }

  .testimonial-lg {
    font-size: $testimonial_lg_text_size;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #nav-title-collapsed {
    display: none;
  }

  #nav-buttons {
    margin-top: -8px;
  }

  #pg_1_logo {
    width: $logo_border_size_lg;
    height: $logo_border_size_lg;
    margin-left: auto;
    margin-right: auto;
    padding: $logo_padding_lg;
    margin-bottom: 25px;
  }

  #pg_1_logo_img {
    width: $logo_size_lg;
    height: $logo_size_lg;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .testimonial-lg {
    font-size: $testimonial_lg_text_size;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  #nav-title-collapsed {
    display: none;
  }

  #nav-buttons {
    margin-top: -8px;
  }

  #pg_1_logo {
    width: $logo_border_size_lg;
    height: $logo_border_size_lg;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: $logo_padding_lg;
  }

  #pg_1_logo_img {
    width: $logo_size_lg;
    height: $logo_size_lg;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-lg {
    font-size: $testimonial_lg_text_size;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media all and (min-width: 400px) and (max-width: 575px) {
  #pg_1_logo {
    width: $logo_border_size_md;
    height: $logo_border_size_md;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: $logo_padding_md;
  }

  #pg_1_logo_img {
    width: $logo_size_md;
    height: $logo_size_md;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-lg {
    font-size: $testimonial_compact_text_size;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media all and (min-width: 361px) and (max-width: 399px) {
  #pg_1_logo {
    width: $logo_border_size_sm;
    height: $logo_border_size_sm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: $logo_padding_sm;
  }

  #pg_1_logo_img {
    width: $logo_size_sm;
    height: $logo_size_sm;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-lg {
    font-size: $testimonial_compact_text_size;
  }

  #pg_4_text > h4 {
    font-size: 1.2rem;
  }

  #fb_widget_xs {
    display: none;
  }
}

@media(max-width: 360px) {
  #pg_1_logo {
    width: $logo_border_size_sm;
    height: $logo_border_size_sm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: $logo_padding_sm;
  }

  #pg_1_logo_img {
    width: $logo_size_sm;
    height: $logo_size_sm;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-lg {
    font-size: $testimonial_compact_text_size;
  }

  #pg_4_text > h4 {
    font-size: 1.0rem;
  }

  #fb_widget_full {
    display: none;
  }
}

// CSS template
body {
  font-family: $main_font;
}

h1, h2, h3, h4, h5 {
  font-family: $header_font;
}

a {
  color: $link_color;
}

a:hover {
  color: $link_color_hover;
}

#nav-top {
  background-color: $nav_background;
  font-family: $nav_font;
  font-size: $nav_text_size;

  border-bottom: solid $nav_border_color 1px;
}

#nav-title-collapsed {
  position: fixed;
  top: 18px;
  right: 25px;
  z-index: 2000;
  width: 200px;
  height: 25px;
}

#pg_1 {
  background-image: url($bg_1_path);
}

#pg_1_body {
  padding: $pg_1_body_padding;
}

#pg_1_logo {
  background-color: $logo_background_color!important;
}

#pg_1_logo {
  margin-top: 25px;
  border-radius: $logo_corner_radius;
  background-color: $box_background;
}

#pg_1_testimonials {
  font-family: $testimonials_font;
  font-weight: $testimonials_text_weight;
  padding: 15px 30px 0px 0px;
}

#quote-revolver {
  list-style-type: none;
}

#quote-revolver li {
  display: table;
}

#quote-revolver li blockquote {
  display: table-cell;
  vertical-align: middle;
}

.testimonial-compact {
  font-size: 0.9em;
}

#pg_2 {
  background-image: url($bg_2_path);
}

#pg_2_text {
  background-color: $jungle_mist;
}

#pg_3 {
  background-image: url($bg_3_path);
  padding-top: 100px;
  padding-bottom: 100px;
}

#pg_3_header {
  text-align: center;
}

#links {
  text-align: center;
}

#links a {
  display: inline-block;
}

#pg_4 {
  background-image: url($bg_4_path);
}

.contacts-text {
  font-size: $contacts_text_size;
}

#footer {
  background-color: $nav_background;
  color: $footer_text_color;
}

.jumbotron{
  min-height: 750px;
  background-size: cover;
  margin-bottom: 0px;
}

.boxcard{
  background-color: $box_background;
  padding: $box_padding;
  border-radius: $box_corner_radius;
}

.nav-pills > li > a.active {
  background-color: $nav_active!important;
  color: $nav_text_color_active!important;
}

.nav-pills > li > a {
  color:  $nav_text_color;
}

.nav-pills > li > a:hover {
  background-color: $nav_hover!important;
}

.navbar-toggler {
  padding: 12px 10px 2px 10px;
  border: solid 1px $nav_active;
  border-radius: 5px;
  background-color: $nav_active;
  color: $nav_text_color;
}

.navbar-toggler:hover {
  cursor: pointer;
}

.row {
  padding: 10px;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px outset #055;
}
