// Background images
$bg_1_path: "../assets/flowers_red.jpg";
$bg_2_path: "../assets/background_1.jpg";
$bg_3_path: "../assets/flowers_red.jpg";
$bg_4_path: "../assets/background_1.jpg";

// CSS template
#pg_1{
  background-image: url($bg_1_path);
}


#pg_2{
    background-image: url($bg_2_path);
}

#pg_3{
    background-image: url($bg_3_path);
}

#pg_4{
  background-image: url($bg_4_path);
}

#footer{
  color: #ddd;
}

#footer > p > a {
  color: #5cf;
}

.jumbotron{
  min-height: 750px;
  background-size: cover;
  margin-bottom: 0px;
}

.nav-pills > li > a.active {
  background-color: #050505!important;
}

.navbar .nav > li > a {
  color:  #ddd;
}

.navbar .nav > li > a:hover {
  color:  #fff;
}

hr.divider {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 1px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

@media(min-width: 1200px){

}

@media all and (min-width: 992px) and (max-width: 1199px){

}

@media all and (min-width: 768px) and (max-width: 991px){

}

@media all and (min-width: 576px) and (max-width: 767px){

}

@media all and (min-width: 400) and (max-width: 575px){

}

@media(max-width: 399px){

}
